<div nz-row>
  <div nz-col
    nzSpan="12">
    <div style="display: block;">
      <canvas baseChart
        width="400"
        height="400"
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend">
      </canvas>
    </div>
  </div>
  <div nz-col
    nzSpan="12">
    <div style="display: block;">
      <canvas baseChart
        [labels]="doughnutChartLabels"
        [datasets]="doughnutChartDatasets"
        [options]="doughnutChartOptions"
        [legend]="true"
        [type]="'doughnut'">
      </canvas>
    </div>
  </div>
</div>

<div nz-row>
  <div nz-col
    nzSpan="12">
    <div style="display: block;">
      <canvas baseChart
        width="400"
        height="400"
        [type]="'bar'"
        [data]="barChartData1"
        [options]="barChartOptions"
        [legend]="barChartLegend">
      </canvas>
    </div>
  </div>
  <div nz-col
    nzSpan="12">
    <div style="display: block;">
      <canvas baseChart
        [type]="'pie'"
        [datasets]="pieChartDatasets"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas>

    </div>
  </div>
</div>